anyio==3.5.0
asgiref==3.5.0
click==8.0.4
fastapi==0.74.1
h11==0.13.0
idna==3.3
numpy==1.22.2
plotly==5.6.0
pydantic==1.9.0
scipy==1.8.0
six==1.16.0
sniffio==1.2.0
starlette==0.17.1
tenacity==8.0.1
typing_extensions==4.1.1
uvicorn==0.17.5
