{% extends "template.html" %}
{% block content %}

    <div class="header">
        VAI - Vibration Analysis Interface
    </div>
    <div class="options">
        <select name="datasets" id="datasets">
            {% for key, value in datasets.items() %}
                <option value={{ key }}>{{ value }}</option>
            {% endfor %}
        </select>
        <select name="channels" id="channels">
            <option value="x">x</option>
            <option value="y">y</option>
            <option value="z">z</option>
        </select>
        <select name="figures" id="figures">
            <option value="time_features">Time Features</option>
            <option value="spectrum">Spectrum</option>
        </select>
    </div>
    <div class="figure" id="figure">
        Figure
    </div>
    <div class="footer">
        Developed by Leonardo Godói (https://github.com/lfgodoi)        
    </div>

{% endblock %}
