<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Dashboard</title>
        <link rel="stylesheet" href="{{ url_for('static', path='/styles.css') }}">
        <script type="module" src="{{ url_for('static', path='/functions.js') }}"></script>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script src="https://cdn.plot.ly/plotly-2.0.0.min.js"></script>
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>